/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
 
/* You can override the default Infima variables here. */
html[data-theme='dark'] {
    color: #9677bb;
  --ifm-background-color: #1a171d;
  --ifm-background-surface-color: #201b23;
  --ifm-menu-color-background-active: #201b23;
  --ifm-color-emphasis-200: #2e2731;
  --ifm-color-emphasis-1000: #c6a5e5;
  --prism-background-color: #201b23;
  --docusaurus-highlighted-code-line-bg: #785b99;
}
h1 {
  font-family: 'Monoton', sans-serif !important;
}
:root {
  --ifm-color-primary: #a686cc; 
  --ifm-color-primary-dark: #9677bb; 
  --ifm-color-primary-darker: #8769aa;
  --ifm-color-primary-darkest: #785b99;
  --ifm-color-primary-light: #b896d8;
  --ifm-color-primary-lighter: #c6a5e5;
  --ifm-color-primary-lightest: #d7b7f1;
  --ifm-code-font-size: 95%;
  --ifm-global-radius: 12px;
  --prism-background-color: #201b23;
  --docusaurus-highlighted-code-line-bg: #785b99;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* --ifm-background-color: #1c1b1d; */
  /* --ifm-background-surface-color: #252429; */
  --ifm-color-primary: #a686cc; /* Lighter purple */
  --ifm-color-primary-dark: #9677bb; /* Darker purple */
  --ifm-color-primary-darker: #8769aa; /* Even darker purple */
  --ifm-color-primary-darkest: #785b99; /* Darkest purple */
  --ifm-color-primary-light: #b896d8; /* Light purple */
  --ifm-color-primary-lighter: #c6a5e5; /* Lighter purple */
  --ifm-color-primary-lightest: #d7b7f1; /* Lightest purple */
  --ifm-accent-color: #6109d3;
  /* --prism-background-color: #201b23; */
  --ifm-pre-background: var(--ifm-background-surface-color);
  --docusaurus-highlighted-code-line-bg: #6c0a79;
  scrollbar-color: var(--ifm-color-primary-darkest) var(--ifm-background-color);
}

blockquote {
  color: var(--ifm-color-primary-darker);
  border-left: var(--ifm-blockquote-border-left-width) solid var(--ifm-accent-color);
}

hr {
  background-color: var(--ifm-accent-color);
  max-width: 90%;
}

.logo { 
  width: 136px;
  height: 136px;
  float: inline-end;
  margin-right: 14px;
  filter: sepia(100%) brightness(85%) hue-rotate(116deg);
}

.hidden {
  display: none;
}

code[class*="language-"], pre[class*="language-"] {
  white-space: pre-line !important;
}

.theme-code-block {
  border-top-right-radius: 80px !important;
}

.prism-code {
  border-top-right-radius: 80px !important;
  border-bottom-right-radius: 80px !important;
  background-color: var(--ifm-background-surface-color) !important;
  padding-left: unset;
}

.content-block {
  color: var(--ifm-color-primary-dark);
  background-color: #1a171d;
  height: auto;
  height: var(--height);
  padding: 12;
  border-radius: 8px;
  border-top-right-radius: calc(var(--height) * 0.5);
  border-bottom-right-radius: calc(var(--height) * 0.5);
  box-shadow: 10px 10px 12px #9677bb;
}

.footer {
  background-color: #1a171d;
  color: #9677bb;
}

.MuiTimelineConnector-root {
  background-color: #9677bb !important;
}

.MuiPaper-root {
  height: auto;
  height: var(--height);
  border-radius: 8px;
  border-top-right-radius: calc(var(--height) * 0.5);
  border-bottom-right-radius: calc(var(--height) * 0.5);
}


.browserWindow_my1Q {
  border: 3px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  margin-bottom: var(--ifm-leading)
}

.browserWindowHeader_jXSR {
  align-items: center;
  background: var(--ifm-color-emphasis-200);
  display: flex;
  padding: .5rem 1rem
}

.browserWindowAddressBar_Pd8y {
  background-color: var(--ifm-background-color);
  border-radius: 12.5px;
  color: var(--ifm-color-gray-800);
  flex: 1 0;
  font: 400 13px Arial, sans-serif;
  margin: 0 1rem 0 .5rem;
  padding: 5px 15px;
  -webkit-user-select: none;
  user-select: none
}

.browserWindowBody_Idgs>:last-child {
  margin-bottom: 0
}

.browserWindowMenuIcon_Vhuh {
  margin-left: auto
}

.browserWindowBody_Idgs {
  background-color: var(--ifm-background-color);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1rem
}
